.lp-hero__bg-image{
    background-position:0 -42px!important
}
 .taxi-hero_header__container{
    position:relative;
    height:256px;
    overflow:hidden
}
 @supports(height:33vh){
    .taxi-hero_header__container{
        min-height:256px;
        height:55vh
    }
}
.taxi-hero_header__container-overlay{
    width:100%;
    height:100%;
    background:rgba(0,52,127,0.36);
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:column;
    -ms-flex-flow:column;
    flex-flow:column;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
}
 .taxi-hero_header__content-container{
    margin:auto;
    width:1100px
}
 .taxi-hero_header__background-image{
    position:absolute;
    top:0;
    min-width:100%;
    min-height:100%;
    z-index:-1
}
 .landing-page__section-taxi-usp .bui-list__icon{
    padding:16px;
    border-radius:100px;
    max-height:56px
}
 .landing-page__section-taxi-usp .bui-list__icon-blue-bg{
    background:#cce1ff
}
 .landing-page__section-taxi-usp .bui-list__icon-orange-bg{
    background:#ffedd9
}
 .landing-page__section-taxi-usp .bui-list__icon-green-bg{
    background:#d1edd4
}
 #bodyconstraint .landing-page__section-taxi-usp,#bodyconstraint .landing-page__section-taxi-usp .bui-grid__column-4{
    margin-top:0;
    padding-top:8px;
    padding-bottom:8px
}
 .landing-page__full-width-section.landing-page__section-taxi-how-it-works{
    padding-bottom:32px;
    background:#fff
}
 .landing-page__section-taxi-how-it-works h3{
    font-size:32px;
    line-height:40px;
    font-weight:600;
    margin:0 0 40px
}
 .landing-page__section-taxi-how-it-works h4{
    font-size:20px;
    line-height:28px;
    font-weight:500
}
 .landing-page__section-taxi-how-it-works img{
    width:70px
}
 .landing-page__section-taxi-how-it-works .bui-list__item{
    border-bottom:0
}
 .landing-page__section-taxi-how-it-works .bui-list__description-subtitle{
    font-size:12px;
    line-height:20px;
    font-weight:400
}
 .landing-page__section-taxi-how-it-works .landing-page__section-taxi-how-it-works-img{
    width:85%;
    display:flex
}
 .taxi-how-it-works-speech,.taxi-how-it-works-book,.taxi-how-it-works-confirmation,.taxi-how-it-works-driver,.taxi-how-it-works-arrive,.taxi-how-it-works-enjoy{
    position:absolute;
    width:130px;
    text-align:center
}
 .taxi-how-it-works-speech{
    top:0;
    left:0;
    width:auto
}
 .taxi-how-it-works-speech.reveresed-image{
    left:initial;
    right:initial;
    right:0
}
 .taxi-how-it-works-speech b{
    font-weight:normal
}
@media screen and (min-width: 1000px) {
    .taxi-how-it-works-book{
    top:33%;
    left:17%
}
 .taxi-how-it-works-confirmation{
    top:33%;
    left:50%
}
 .taxi-how-it-works-driver{
    top:73%;
    left:50%
}
 .taxi-how-it-works-arrive{
    top:73%;
    left:17%
}
 .taxi-how-it-works-enjoy{
    top:98%;
    left:-2%
}
 }


@media screen and (max-width: 412px) {
    .taxi-how-it-works-book{
    top:33%;
    left:14%
}
 .taxi-how-it-works-confirmation{
    top:33%;
    left:46%
}
 .taxi-how-it-works-driver{
    top:73%;
    left:46%
}
 .taxi-how-it-works-arrive{
    top:73%;
    left:14%
}
 .taxi-how-it-works-enjoy{
    top:98%;
    left:-2%
}
 }
 .taxi-how-it-works-enjoy.reveresed-image{
    left:initial;
    right:initial;
    right:-45px
}
 .taxi-how-it-works-speech-bubble{
    background:#ededed;
    border-radius:4px;
    padding:8px;
    position:relative
}
 .taxi-how-it-works-speech-bubble::after{
    border-right:10px solid transparent;
    border-top:10px solid #ededed;
    bottom:-10px;
    content:"";
    position:absolute;
    left:10px
}
 .taxi-how-it-works-speech-bubble.reveresed-image::after{
    border-right:0;
    border-left:10px solid transparent;
    left:initial;
    right:initial;
    right:10px
}
 .taxi-how-it-works-book.reveresed-image{
    left:initial;
    right:initial;
    right:80px
}
 .taxi-how-it-works-confirmation.reveresed-image{
    left:initial;
    right:initial;
    right:240px
}
 .taxi-how-it-works-driver.reveresed-image{
    left:initial;
    right:initial;
    right:240px
}
 .taxi-how-it-works-arrive.reveresed-image{
    left:initial;
    right:initial;
    right:80px
}
 .taxi-how-it-works-illustration-wrapper{
    margin:24px auto 0;
    width:100%;
    position:relative
}
 .landing-page__section-taxi-types .bui-list__item{
    padding:4px 0;
    border-bottom:0
}
 .landing-page__section-taxi-types .bui-list__icon{
    margin-right:8px
}
 .landing-page__section-taxi-types .bui-card__image-container img{
    width:86%;
    margin:7% 7% 0
}
 .www-taxi-index__taxi-types-seg-controls{
    text-align:center;
    margin-top:16px;
    margin-bottom:32px
}
 .www-taxi-index__taxi-types-container{
    passing-bottom:16px
}
 .www-taxi-types__info-snippet{
    margin:2px 8px;
    line-height:24px
}
 .www-taxi-types__info-snippet-icon{
    display:inline-block;
    margin:0 2px;
    width:24px;
    height:18px;
    text-align:center
}
 span.www-taxi-types__info-snippet-icon>.bk-icon{
    position:relative;
    bottom:2px
}
 [data-bui-component="Tooltip"]{
    cursor:pointer
}
 .www-taxi-types__info-snippet--blue{
    color:#07c
}
 .www-taxi-types__info-snippet--green{
    color:#077812
}
 .www-taxi-types__book-cta{
    margin-left:8px!important;
    margin-bottom:8px!important
}
 label.bui-segmented-control__button{
    cursor:pointer
}
 .bui-carousel__item.bui-carousel__item-largest{
    width:-webkit-calc(50% - 10.6666666667px);
    width:calc(50% - 10.6666666667px)
}
 .bui-avatar-block.bui-avatar-block--column-format{
    -webkit-flex-flow:column;
    -ms-flex-flow:column;
    flex-flow:column;
    padding-bottom:4px
}
 .bui-avatar-block.bui-avatar-block--column-format .bui-avatar-block__title{
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
}
 .bui-avatar-block.bui-avatar-block--column-format .bui-avatar-block__subtitle{
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
}
 landing-page__taxi-usp-map h3,landing-page__taxi-usp-map{
    color:#fff
}
 .landing-page__taxi-usp-map svg{
    fill:#fff
}
 .landing-page__section.landing-page__taxi-usp-map{
    background-image:url("//r-cf.bstatic.com/static/img/taxi-world-map/caef0e024528d3fd2008f433e45ef87c406587f6.svg");
    background-repeat:no-repeat;
    background-position:top center;
    background-color:#003580;
    background-size:cover;
    min-height:570px;
    margin-bottom:0
}
 .landing-page__section.landing-page__full-width-section.landing-page__taxi-usp-map>div{
    width:800px
}
 .landing-page__section-taxi-faq{
    background:#f7f7f7;
    padding-left:24px;
    border:1px solid #dfe0df
}
 .landing-page__section-taxi-faq .bui-grid__column-4,.landing-page__section-taxi-faq .bui-grid__column-8{
    padding-top:0
}
 .landing-page__section-taxi-faq h3{
    margin-top:24px
}
 .landing-page__section-taxi-faq .bui-accordion__row button{
    padding:16px
}
 .landing-page__section-taxi-faq h3{
    margin-bottom:8px
}
 .landing-page__section-taxi-faq .bui-accordion__row h1{
    font-size:16px;
    line-height:24px;
    font-weight:500
}
 .landing-page__section-taxi-faq .bui-accordion__row.bui-is-active .bui-accordion__content{
    padding:0 16px 16px
}
 .landing-page__section-taxi-faq h3.landing-page__heading{
    margin-top:40px
}
 .landing-page__section-taxi-faq h4.landing-page__subheading{
    margin-bottom:16px
}
 .landing-page__section-taxi-faq .bui-accordion{
    margin:23px -1px -1px 0
}
