.stars-container::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgrey;
}

.stars-container::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: #eabe10;
  overflow: hidden;
}
